
/*Flexslider*/

.flexslider {
	border: 0;
	margin: 0 0 20px 0;
	@include box-shadow(none);
	@include border-radius(0);
	max-width: 100%;

	.slider-caption{
		display: none;
		position: absolute;
		bottom: 30px;
		left: 30px;
		z-index: 999;
		width: 50%;
		text-align: left;
		font-size: 1em;
		line-height: 150%;
		background: #fff;
		background: rgba(255, 255, 255, 0.68);
		padding: 10px 20px;
	}

	.slider-title{
		color: #000;
	}

	.slider-description{
		display: inline-block;
		clear: both;
	}

	.more-link{
		padding: 8px 10px;
		display: inline-block;
		background: #008000;
		text-transform: uppercase;
		color: #fff;
	}

	.slides{
		
		li{
			position: relative;
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}

		a{
			font-size: 0;
    		padding: 10px;
		}
	}

	.flex-control-paging li a {
	    width: 8px;
	    height: 8px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    @include border-radius(50%);
	}

	.flex-control-nav{
		bottom: 0;
	}

}