
/*Variables*/

$fontFamily: 'Poppins', sans-serif;
$titleFontFamily: 'Poppins', sans-serif;
$baseFontSize: 14px;
$bodyBGColor: #1d262d;
$baseFontColor: #435a6b;

$linkColor: #8cafd0;
$linkColorHover: #2f4bd6;

/*Header*/
$headerBGColor: #000;
$headerTextColor: #fff;

$topWidgetBG: #f8c72e;
$secColor: #fc466b;

/*Menu Color*/
$menuTextColor: #fff;
$menuTextActiveColor: #2f4bd6;

$mobileMenuBg: #000;
$desktopMenuTextColor: #fff;
$desktopMenuDropDownBg: #19232d;
$borderColor: #313d48;

/*Mixins*/

@mixin globalButton(){
	background: $linkColor;
	color: #fff;
	border: 0;
	padding: 10px 15px;
	line-height: 100%;
	border-radius: 0;
}

@mixin globalButtonHover(){
	background: $linkColorHover;
	color: #fff;
}